
<form class="form-group" [formGroup]="consultant" >
  <h1> Durée Experiance</h1>
  <input type="number" formControlName="dureeExperience">
<h1>Experience</h1>
<h2>Societe :</h2>
<input class="form-control" formControlName="societe" type="text" placeholder="Societe">
<h2>Debut Experience :</h2>
<input class="form-control" formControlName="debut" type="date" placeholder="debut Experience">
<h2>Fin Experience :</h2>
<input class="form-control" formControlName="fin" type="date" placeholder="Fin Experience">
<h2>Tache realiser</h2>
<input class="form-control" formControlName="tacheRealises" type="text" placeholder="tacheRealiser">
<h1>Formation</h1>
<h2>Institut</h2>
<input type="text" formControlName="institut" placeholder="Institut" class="form-control">
<h2>Diplome</h2>
<input type="text" formControlName="diplome" placeholder="Diplome" class="form-control">
<h2>debut Formation</h2>
<input type="date" placeholder="debut Formation" class="form-control" formControlName="debutF">
<h2>Fin Formation</h2>
<input type="date" placeholder="Fin formation" class="form-control" formControlName="finF">
<h2>Phone :</h2>
<input type="tel" placeholder="Phone" formControlName="phone" >
<h2>Adresse:</h2>
<input type="text" placeholder="Adresse" formControlName="adresse">
<input type="text" placeholder="Skill" formControlName="skill">
<button type="button" (click)="form(consultant)">get</button>
</form>
